#app{
  width: 100%;
}
#basic-chart {
  width: 600px;
  height: 600px;
  margin: 20px auto;
}

.btn {
  border-radius: 0;
  border-style: none;
  padding: 10px;
  background-color: #FFCCBC;
  color: #455A64;
  margin: 20px auto;
  width: 200px;
  display: block;
  cursor: pointer;
}
